<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="../../assets/task_man.png" width="40" height="40" alt="">
    Task Manager
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/add_task']"> Add Task </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/view_task']">View Tasks</a>
      </li>
    </ul>
  </div>
</nav>
