<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form (ngSubmit)="onSaveTask()" #addForm="ngForm">
        <div class="form-group row">
          <label for="task" class="col-sm-3 col-form-label">Task: </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="task"
              [ngModel] = "taskToEdit?.taskName"
              name="task_name"
              placeholder=""
              required
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="customRange2" class="col-sm-3 col-form-label"
            >Priority:
          </label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col">0</div>
              <div class="col align-right">30</div>
            </div>
            <div class="row">
              <div class="col">
                  <input
                  type="range"
                  class="custom-range"
                  id="priority"
                  min="0"
                  max="30"
                  value="1"
                  [ngModel] = "taskToEdit?.priority"
                  name="task_priority"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="parent_task" class="col-sm-3 col-form-label"
            >Parent Task:
          </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="parent_task"
              [ngModel] = "taskToEdit?.parentId"
              name="parent_task_name"
              placeholder=""
              required
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="start_date" class="col-sm-3 col-form-label"
            >Start Date:
          </label>
          <div class="col-sm-9">
            <input
              type="date"
              class="form-control"
              id="start_date"
              [ngModel] = "taskToEdit?.startDate"
              name="start_date"
              placeholder=""
              required
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="end_date" class="col-sm-3 col-form-label"
            >End Date:
          </label>
          <div class="col-sm-9">
            <input
              type="date"
              class="form-control"
              id="end_date"
              [ngModel] = "taskToEdit?.endDate"
              name="end_date"
              placeholder=""
              required
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div
              class="btn-toolbar"
              role="toolbar"
              aria-label="Toolbar with button groups"
            >
              <div class="btn-group mr-4" role="group" aria-label="First group">
                <button type="submit" class="btn btn-success" [disabled]='!addForm.valid'>
                  Save Task
                </button>
              </div>
              <div
                class="btn-group mr-4"
                role="group"
                aria-label="Second group"
              >
                <button type="button" class="btn btn-outline-warning" (click) = 'onReset()'>
                  Reset
                </button>
              </div>
            </div>
            <p *ngIf = 'taskAdded'>New task was added!</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
